<div class="col-md-6 offset-md-3">
    <h3>Add tache to Service </h3>
    <form  (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label> Tache identifiant</label>
            <input type="text" class ="form-control" id = "service.intitulService"
                [(ngModel)] = "tache.id" name = "service.intitulService" >
        </div>
    
        <div class="form-group">
            <label> Tache Intitule</label>
            <input type="text" class ="form-control" id = "intitulTache"
                [(ngModel)] = "tache.intitulTache" name = "intitulTache">
        </div>

    
        <button class = "btn btn-success" type ="submit">Update</button>
    
    </form>
    </div> 
