<p>abs-details works!</p>
<div *ngFor = "let abs of absDetil">
    <strong> {{ abs.nom }} {{abs.prenom}} </strong>
    <strong> {{ abs.intitulService }} </strong>
    <strong> {{ abs.intitulTache }} </strong>
    <strong> {{ abs.date }} </strong>
    <strong> {{ abs.motif }} </strong>
    <strong> {{ abs.date }} </strong>
    <strong> {{ abs.motif }} </strong>
    <strong> {{ abs.date }} </strong>
    <strong> {{ abs.heureFin }} </strong>



<br>
<button (click)="onClose()" class="btn btn-primary">Close</button>
