<!-- <i class="fa fa-refresh" aria-hidden="true"></i> -->


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">Services</li>
        </ol>
    </nav>
    
   
        <div class="mat-display-1 mt-3 text-center" style="margin-bottom:-5px;"> Liste Services</div>
    
        <div class="alert alert-{{type}} alert-dismissible {{state}}" role="alert" >
            <!-- {{success}}  -->{{success}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="hide()">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <mat-form-field >
      <mat-label>Recherche:</mat-label>
      <input type="search" matInput name="key" id="searchName" ngModel name="key" #key="ngModel" (ngModelChange)="searchEmployees(key.value)"/>
      </mat-form-field>
    <button (click)="searchEmployees(key.value)"  mat-mini-fab color="primary"><mat-icon>search</mat-icon></button>
    <a [routerLink]="['../add-Tache']" mat-mini-fab color="accent"><mat-icon>add</mat-icon></a>
    <button (click)="refresh()"  mat-mini-fab color="primary" style="margin-left: 900px;"><mat-icon>refresh</mat-icon></button>
    
    <div *ngIf="!Hide">
      
    
        <table mat-table #table [dataSource]="services">
          <ng-container matColumnDef="ID">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.id}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Service">
            <mat-header-cell *matHeaderCellDef> Service </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.intitulService}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Tache">
              <mat-header-cell *matHeaderCellDef> Taches </mat-header-cell>
              <mat-cell *matCellDef="let item">               
                  <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedOption">
                      <option selected >Voir les taches</option>
                      <option *ngFor = "let tache of item.taches" value="{{tache.id}}"> {{tache.intitulTache}}</option>
                      <!-- <option > -->
                          <!-- <div class="form-group">
                        <label>add tache</label> -->
                        <!-- <input type="text" class ="form-control" id = "tacheToAdd"
                       name = "tacheToAdd" placeholder="add tache"> -->
                    <!-- </div> -->
                    <!-- </option> -->
                </select>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="ActionsTache">
            <mat-header-cell *matHeaderCellDef> Actions Tache  </mat-header-cell>
            <mat-cell *matCellDef="let item">
        
              <button  class = "btn btn-success" (click)="addTacheToService(item.id)" style="margin-left: 5px"> Add </button>

              <button (click)="updateTache(item.id)" class = "btn btn-info" style="margin-left: 10px"> Update</button>
                
              <button (click)="deleteTache()" class = "btn btn-warning"  style="margin-left: 10px"> Delete</button>
              
            
              
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions Service </mat-header-cell>
            <mat-cell *matCellDef="let item">
        
              
           


              <button  class = "btn btn-danger" (click)="deleteService(item.id)" style="margin-left: 10px"> Delete </button>
              
            </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
      
        
      </table>
    </div>
    