<h1 class="text-center mt-3"> Collabs List</h1>
<div class="alert alert-{{type}} alert-dismissible {{state}}" role="alert" >
   <!-- {{success}}  -->{{success}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary"  style="margin-left: 1000px"  (click)="goToAdd()">Add collab</button>
</div>

<table class = "table table-striped mt-2">
    <thead>
        <tr>
            <th>Matr</th>
            <th>Nom </th>
            <th>Prenom</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let collab of collabs" >
            <td> {{ collab.matr }} </td>
            <td> {{ collab.nom }} </td>
            <td> {{ collab.prenom }} </td>
            <td>
                <button type="button" (click)="updateCollab(collab.matr!)" class = "btn btn-info" style="margin-left: 10px"> Update</button>
                <button type="button" (click)="deleteCollab(collab.matr!)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
            </td>
        </tr>
    </tbody>
</table>