<div class="col-md-12">
    <div class="mat-display-1 mt-3 text-center"> Edite Absence </div>

    <form (ngSubmit)="onSubmit()">


        <div class="form-group">
            <label>Absence Motif</label>
            <input type="text" class="form-control" id="motif" [(ngModel)]="abs.motif" name="motif">
        </div>
        <div class="form-group">
            <label>Absence Date</label>
            <input type="date" class="form-control" id="date" [(ngModel)]="abs.date" name="date">
        </div>
        <div class="form-group">
            <label>Heure Debut</label>
            <input type="time" class="form-control" id="heureDebut" [(ngModel)]="abs.heureDebut" name="heureDebut">
        </div>
        <div class="form-group">
            <label>Heure Fin</label>
            <input type="time" class="form-control" id="heureFin" [(ngModel)]="abs.heureFin" name="heureFin">
        </div>



        <button class="btn btn-success mt-2" type="submit">Editer</button>

    </form>
</div>
