<div class="col-md-6 offset-md-3">
    <h3> Create tache and service </h3>
    <div *ngIf="alert" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Ajouter Success!</strong>Les Donnes sont entees avec success.
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label>Service identifiant</label>
            <input type="text" class ="form-control" id = "matr"
                [(ngModel)] = "service.id" name = "matr">
        </div>
    
        <div class="form-group">
            <label> Intitule Service</label>
            <input type="text" class ="form-control" id = "nom"
                [(ngModel)] = "service.intitulService" name = "nom" >
        </div>
    
        <div class="form-group">
            <label> tache identifiant</label>
            <input type="text" class ="form-control" id = "id"
                [(ngModel)] = "tache.id" name = "id">
        </div>
        <div class="form-group">
            <label> tache intitule</label>
            <input type="text" class ="form-control" id = "prenom"
                [(ngModel)] = "tache.intitulTache" name = "prenom">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 