<div class="col-md-6 offset-md-3">
    <h3> Add abs </h3>

    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label>Absence ID</label>
            <input type="text" class ="form-control" id = "collab_tache_id"
                [(ngModel)] = "abs.collab_tache_id" name = "collab_tache_id">
        </div>
        <div class="form-group"></div>
        <label>Select Collab : </label>
        <select name="status" class="form-select" aria-label="Default select example" [(ngModel)]="abs.collab_matr">
                    <option selected >Voir les Colab</option>
                    <option *ngFor = "let collab of collabs" value="{{collab.matr}}"> {{collab.nom}}</option>
    
                  </select>
                  
        <div class="form-group">
        <label>Select Tache : </label>
        <select name="tacheSelect" class="form-select" aria-label="Default select example" [(ngModel)]="abs.tache_id">
            <option selected >Voir les Taches</option>
            <option *ngFor = "let tache of taches" value="{{tache.id}}"> {{ tache.intitule_tache }} </option>
        </select>


        </div>
        <div class="form-group">
            <label>Absence Motif</label>
            <input type="text" class ="form-control" id = "motif"
                [(ngModel)] = "abs.motif" name = "motif">
        </div>
        <div class="form-group">
            <label>Absence Date</label>
            <input type="date" class ="form-control" id = "date"
                [(ngModel)] = "abs.date" name = "date">
        </div>
        <div class="form-group">
            <label>Heure Debut</label>
            <input type="text" class ="form-control" id = "heureDebut"
                [(ngModel)] = "abs.heureDebut" name = "heureDebut">
        </div>
        <div class="form-group">
            <label>Heure Fin</label>
            <input type="text" class ="form-control" id = "heureFin"
                [(ngModel)] = "abs.heureFin" name = "heureFin">
        </div>
  

    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 